@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .show-dropdown {
    opacity: 1;
    pointer-events: initial;
  }
}
@font-face {
  font-family: 'Cinzel';
  src: url(../assets/fonts/Cinzel-VariableFont_wght.ttf);
}
