<div class='bg-royal-gray my-32  py-8 sm:my-32 relative'>
  <div class='grid place-items-center mx-auto max-w-7xl px-6 lg:px-8'>
    <div class='mx-auto  max-w-2xl  md:mr-72 lg:max-w-none bg-white py-8 px-12'>
      <dl class='grid justify-center max-w-xl grid-row-1 gap-x-8 gap-y-4 '>



        <!-- <div class='bg-royal-gray absolute h-80 xl:w-96 left-4 bottom-6'></div> 
        <div class='bg-royal-gray absolute h-80 xl:w-96 left-4 -top-12'></div> 

        <div class='bg-royal-gray absolute h-10 xl:w-96 left-4 -top-12'></div> 
        <div class='bg-royal-gray absolute h-10 xl:w-72 left-96 -top-12'></div> 

        <div class='bg-royal-gray absolute h-10 xl:w-72 left-96 -bottom-2'></div>
        <div class='bg-royal-gray absolute h-10 xl:w-96 left-4 -bottom-2'></div>

        <div class='bg-royal-gray absolute h-10 xl:w-96 right-4 -top-12'></div>

        <div class='bg-royal-gray absolute h-10 xl:w-96 right-12 -top-12'></div>
        <div class='bg-royal-gray absolute h-80 xl:w-96 right-4 -top-12'></div> 

        <div class='bg-royal-gray absolute h-80 xl:w-96 right-4 bottom-6'></div>

        <div class='bg-royal-gray absolute h-10 xl:w-96 right-4 -bottom-2'></div>

        <div class='bg-royal-gray absolute h-10 w-2/12 xl:w-96 right-12 -bottom-2'></div> -->
  <div class='bg-royal-gold absolute h-24 w-10 right-12 md:right-20 -top-16'></div> 
  <div class='bg-white absolute h-12 w-32 right-64 md:right-96 -top-1'></div> 
  <div class='bg-white absolute h-12 w-32 right-64 md:right-96 -bottom-1'></div> 
        <div class='flex items-center flex-col bg-white'>
          <dt
            class='text-xl font-semibold leading-7 grid place-items-center font-cinzel'
          >
            See The Home and Furniture
          </dt>
          <dd class='mt-1 flex items-center flex-col text-xs leading-7'>
            <p class='flex-auto font-cinzel'>Authentizität</p>
          </dd>
        </div>
       <div class='flex items-center flex-col border-y-2  border-gray-800 py-4'>
          <dt class='text-xl font-semibold leading-7 font-cinzel'>
            Trip Obsessed
          </dt>
          <dd
            class='mt-1 flex items-center flex-auto flex-col text-xs leading-7'
          >
            <p class='flex-auto font-cinzel'>Komfort</p>
          </dd>
        </div>
        <div class='flex flex-col items-center'>
          <dt class='text-xl font-semibold leading-7 font-cinzel'>
            Stand In One Royal Prestige
          </dt>
          <dd
            class='mt-1 flex items-center flex-auto flex-col text-xs leading-7'
          >
            <p class='flex-auto font-cinzel'>Vertrauen</p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
