<div class='bg-white pb-20 pt-4 sm:pt-6 sm:pb-20 sm:my-12 relative'>
  <div class='grid place-items-center mx-auto max-w-7xl px-6 lg:px-8'>
    <div class='mx-auto mt-2 max-w-2xl sm:mt-4 lg:mt-2 lg:max-w-none'>
      <dl class='grid justify-center max-w-xl grid-row-1 gap-x-8 gap-y-4'>
        <div class='bg-royal-gray absolute h-12 w-12 py-5 left-96'></div> 

        <div class='flex items-center flex-col'>
          <dt
            class='text-xl font-semibold leading-7 grid place-items-center font-cinzel'
          >
            See The Home and Furniture
          </dt>
          <dd class='mt-1 flex items-center flex-col text-xs leading-7'>
            <p class='flex-auto font-cinzel'>Authentizität</p>
          </dd>
        </div>
       <div class='flex items-center flex-col border-y-2 border-gray-800 py-4'>
          <dt class='text-xl font-semibold leading-7 font-cinzel'>
            Trip Obsessed
          </dt>
          <dd
            class='mt-1 flex items-center flex-auto flex-col text-xs leading-7'
          >
            <p class='flex-auto font-cinzel'>Komfort</p>
          </dd>
        </div>
        <div class='flex flex-col items-center'>
          <dt class='text-xl font-semibold leading-7 font-cinzel'>
            Stand In One Royal Prestige
          </dt>
          <dd
            class='mt-1 flex items-center flex-auto flex-col text-xs leading-7'
          >
            <p class='flex-auto font-cinzel'>Vertrauen</p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
