
<div class='bg-royal-gray relative h-full w-1/3'>
  <div class='grid place-items-center'>
    <div class="grid place-items-center ">
    <p class="font-cinzel text-white text-lg font-medium">Kochen</p>
    <p class="font-cinzel text-white text-xs">Royal Prestige</p>
  </div>
</div>


